@page
@model IndexModel
@{
    ViewData["Title"] = "Página do ALUNO";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo Aluno!!</h1>
    <p>
        "O sucesso não é definitivo, o fracasso não é fatal: o que conta é a coragem de continuar." - Winston Churchill
    </p>
</div>
